html,body {
    font-family: "Poppins",Helvetica, sans-serif;
    color: #000000;
    background-color: #f5cac3;
    padding:0;
    margin: 0;
}

.nav {
    display: flex;
    width:100%;
    color: #000000;
    text-align: center;
    flex-flow: column nowrap;
    position: fixed;
    height: 100%;
    width: 15%;
    background-color:#f7ede2;
    align-items: center;
}

.box, h1 {
    color: #000000;
    margin-top: 0;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height:100%;
    width:100%;
    text-align: center;
    border-top: 10px solid #f5cac3;
    align-items: center;
}   

.content1, .content3, .content5, .content7, .content9 {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20%;
    align-items: center;
}

.content2, .content4, .content6, .content8, .content10 {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 5% 5% 5%;
    justify-content: center;
    height: 300px;
}

footer {
    background-color: #f7ede2;
    color: #000000;
    width: 100;
    margin-left:20%;
    text-align: end;
    padding-right: 2px;
}

img {
    height: 300px;
    width: 300px;
}

body, .nav5 {
    border-bottom: 10px solid #f5cac3;
    border-left: 10px solid #f5cac3;
    border-right: 10px solid #f5cac3;
}