html, body {
    font-family: "Poppins",Helvetica, sans-serif;
    color: #000000;
    background-color: #f15bb5;
    padding:0;
    margin: 0;
}

body {
    border-bottom: 10px solid #f15bb5;
    border-left: 10px solid #f15bb5;
    border-right: 10px solid #f15bb5;
}

.navbar {
    display: flex;
    width:100%;
    text-align: center;
    flex-flow: column nowrap;
    position: fixed;
    height: 100%;
    width: 15%;
    background-color:#000000;
    align-items: center;
}

.navbar__content {
    color: #ffffff;
    margin-top: 0;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height:100%;
    width:100%;
    text-align: center;
    border-top: 10px solid #f15bb5;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20%;
    align-items: center;
}

.textbox {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 5% 5% 5%;
    justify-content: center;
    height: 300px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    width: 100;
    margin-left:20%;
    text-align: end;
    padding-right: 2px;
}

.container__image {
    height: 300px;
    width: 300px;
}

body, .navbar__content:last-child {
    border-bottom: 10px solid #f15bb5;
    border-left: 10px solid #f15bb5;
    border-right: 10px solid #f15bb5;
}

@media (max-width: 815px) {
    body, .navbar {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .navbar {
        display: flex;
        width:100%;
        flex-flow: row nowrap;
        position: fixed;
        height: 100px;
        background-color:#000000;
    }

    .navbar__content {
        margin: 0;
        border: 0;
        height: 100px;
        color: #ffffff;
        font-size: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
    }
    body, .navbar__content:last-child {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;
        margin: 20% 0 0 0;
    }

    footer {
        background-color: #000000;
        color: #ffffff;
        width: 100;    
        margin-left: 0;
        text-align: end;
        padding-right: 2px;
    }
}